<!DOCTYPE html>
<html>
  <head>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"> -->
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Hello World</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Automagic</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav text-center">
            <li data-screen="drive" class="col-xs-4 active"><a href="#"><i class="fa fa-car"></i> Drive <span class="sr-only">(current)</span></a></li>
            <li data-screen="graphs" class="col-xs-4 middle"><a href="#"><i class="fa fa-bar-chart"></i> Charts</a></li>
            <li data-screen="settings" class="col-xs-4 "><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container has-sticky-bottom">
      <div class="row" id="screen"></div>
    </div>

    <!-- Templates -->
    <script type="template/x-handlebars" id="template-drive">
      <div class="col-xs-12">
        <h1>Drive</h1>
        <p>Press "Start Drive" to start logging your trip.</p>
        <h3>Safety Tips</h3>
        <p><em>Do not look at your phone while driving.</em></p>
        <img class="img img-responsive" src="img/car.png" style="margin: 0 auto;">
      </div>
      <div class="col-xs-12 sticky-bottom">
        {{#if driving}}
          <button class="btn btn-lg btn-stop-drive btn-danger col-xs-8 col-xs-push-2">
            Stop Drive
          </button>
        {{else}}
          <button class="btn btn-lg btn-start-drive btn-success col-xs-8 col-xs-push-2">
            Start Drive
          </button>
        {{/if}}
      </div>
    </script>

    <script type="template/x-handlebars" id="template-drive-detail">
      <div class="col-xs-12">
        <h1>Drive on {{ data.start_date }}</h1>
      </div>
      <div class="col-xs-12">
        <div id="map"></div>
        {{#if mpg}}
          <div id="line-chart"></div>
        {{else}}
          <p style="margin-top: 15px;"><em>Bluetooth was disabled for this drive, so MPG data is not available.</em></p>
        {{/if}}
        <!--
        {{#if mpg}}
          <h5>MPG</h5>
          {{#each data.data }}<div>{{ this.mpg }}</div>{{/each}}
        {{/if}}
        <h5>Points</h5>
        {{#each data.data }}<div>{{ this.lat }}, {{ this.lng }}</div>{{/each}}
        -->
      </div>
      <div class="col-xs-12 sticky-bottom">
      </div>
    </script>

    <script type="template/x-handlebars" id="template-graphs">
      <div class="" id="table-drive-list">
        <table class="table">
          {{#each data}}
            <tr class="drive-detail" id="{{ @index }}"><th>{{ this.start_date }}</th><td>{{ this.start_time }}</td><td><i class="fa fa-ellipsis-h"></i></td></tr>
          {{/each}}
        </table>
      </div>
    </script>

    <script type="template/x-handlebars" id="template-settings">
      <div class="col-xs-12">
        <h1>Settings</h1>
        <table class="table">
          <tr>
            <th><label class="label-setting" for="use_gps">Use High Accuracy GPS?</label> <input id="use_gps" class="input-setting" data-setting="use_gps" {{#if use_gps }}checked{{/if}} type="checkbox" /> </th>
          </tr>
          <tr>
            <th><label class="label-setting" for="use_bluetooth">Use Bluetooth Adapter?</label> <input id="use_bluetooth" class="input-setting" data-setting="use_bluetooth" {{#if use_bluetooth }}checked{{/if}} type="checkbox" /> </th>
          </tr>
        </ul>
      </div>
    </script>

    <!-- Scripts -->
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="js/handlebars.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/settings.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
