@font-face {
    font-family: "Gotham";
    src: url('../fonts/Gotham-Book.otf');
}
* {
    font-family: "Gotham" !important;
}
i {
    font-family: "FontAwesome" !important;
}
html {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

th, td {
    height: 48px;
    vertical-align: middle !important;
}

h1 {
    font-size: 1.5em;
}

ul.nav.navbar-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    overflow-x: hidden;
}

.btn.btn-lg {
    transition: 250ms all;
}

label.label-setting {
    padding-top: 7px;
}

.bootstrap-switch {
    float: right;
}

.table-drive-list {
    height: 100%;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eaeaea;
    background-color: white;
}

.navbar {
    margin-bottom: 0;
    border: 0;
}
a.navbar-brand {
    padding: 0;
    color: white !important;
    font-family: "Gotham";
    font-size: 1.8em;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 2.2em;
}
.navbar-header {
    background-color: #2196F3;
    border-bottom: 1px solid #1976D2;
}
.navbar-nav {
    margin: 0 -15px;
}
.navbar-nav li.middle {
    border-left: 1px solid #1976D2;
    border-right: 1px solid #1976D2;
}
.navbar-nav li a {
    color: #BBDEFB !important;
    border-top: 1px solid #2196F3;
    border-bottom: 1px solid #2196F3;
    background-color: #2196F3 !important;
    transition: 100ms all;
}
.navbar-nav li.active a {
    color: white !important;
    border: 1px solid #1976D2;
    border-bottom: 1px solid #1976D2;
    background-color: #1976D2 !important;
}
